<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bootstrap Sample</title>
<!-- BootstrapのCSS読み込み -->
<link href="bs/css/bootstrap.min.css" rel="stylesheet">
<link href="css/common.css" rel="stylesheet">
<!-- jQuery読み込み -->
<script src="js/jquery-3.4.1.min.js"></script>
<!-- BootstrapのJS読み込み -->
<script src="bs/js/bootstrap.min.js"></script>
</head>
<body>
<!-- ヘッダー -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">ブランド</a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="Navber">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">ホーム <span class="sr-only">(現位置)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">リンク</a>
      </li>
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ドロップダウン
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">メニュー1</a>
          <a class="dropdown-item" href="#">メニュー2</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">その他</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">無効</a>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
<h1>Sample App</h1>
<p>
  This is the home page for the
  <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
  sample application.
</p>
<p>msg::<%= pp @msg %></p>
<p>test::<%= pp @test %></p>


<div class="container">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>時間</th>
        <% @date_list.each do |dt| %>
        <th><%= dt %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>名前</th>
        <th>パスワード</th>
        <th>メールアドレス</th>
        <th>日時</th>
      </tr>
    </thead>
    <tbody>
      <% @msg.each do |row| %>
      <tr>
        <th scope="row"><%= row["user_id"] %></th>
          <td><%= row["user_acount"] %></td>
          <td><%= row["user_passwd"] %></td>
          <td><%= row["user_mail"] %></td>
          <td><%= row["user_created"] %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<!-- フッター -->
<footer class="footer">
  <div class="container">
    <p class="text-muted">Place sticky footer content here.</p>
  </div>
</footer>
</body>
</html>