
<h1>Sample App</h1>
<p>
  This is the home page for the
  <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
  sample application.
</p>
aaaaa
<p><%= pp @msg %></p>

<% @msg.each do |row| %>
<p>
  <%= row["user_id"] %>さん。
  <%= row["user_acount"] %>さん。
  <%= row["user_passwd"] %>さん。
  <%= row["user_mail"] %>さん。
  <%= row["user_created"] %>さん。
</p>
<% end %>